* {
    box-sizing: border-box;
}
body {
	background: seashell; 
	font-family: 'Merriweather', serif;
	padding-bottom: 100px;
	color: black;
}

.header-content {
	text-align: center;
	background: #29405a;
	color: white;
	border: 1px solid #29405a;
}

.form {
	margin: 10px auto;
	width: 90%;
	background:#feffff;
	padding: 20px;
	border-radius: 10px;
}

legend {
	font-size: 1.2em;
	font-weight: bold;
	color: black;
}

.sign-up-for {
	text-align: center;
	margin: 0 auto;
	width: 90%;
	padding-bottom: 20px;
	border-bottom: 2px dashed black;
}

.field {
	display: block;
	padding: 10px;
	margin: 30px auto 0;
	border: none;
}
#contact {
	border-bottom: 2px dashed black;
	margin-top: 15px;
}

/*input styles*/

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
	background: #e8eeef;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: none;
	border: none;
	border-radius: 5px;
	padding: 12px 0;
	padding-right: 5px;
	font-size: 0.8em;
	transition: box-shadow 150ms ease-in;
	outline: none;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
select:focus,
textarea:focus {
	box-shadow: 0 0 5px #52bab3;
}

::placeholder,
select {
	text-align: right;
	color: rgb(192, 190, 190);
}

button[type="submit"] {
	background: #52bab3;
	color: #FFF;
	padding: 20px 0;
	padding-right: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.txt-area,
.btn {
	display: block;
	width: 100%;
}

.txt-area {
	margin-bottom: 30px;
}
.contact-input label {
	margin-bottom: 10px;
}
.news-input {
	margin: 25px 0;
}
.news-input label {
	margin-left: 10px;
}
.contact-input {
	margin: 20px auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.copyright {
	text-align: center;
	color: rgb(192, 190, 190)
}

@media (min-width: 768px) {

	.sign-up-for {
		width: 60%;
	}
	.form {
		width: 60%;	
	}
	
	.contact-input {
		display: flex;
		flex-direction: row;
	}
	.label,
	.input {
		flex: 1;
	}
	.input {
		flex: 3;
	}
	.zip-input,
	.zip-label {
		flex: 0;
		flex-basis: 25%;
	}
}





