* {
    box-sizing: border-box;
}
body {
	background: seashell;
	font-family: 'Merriweather', serif;
}
.header-content {
	text-align: center;
	background: #29405a;
	color: white;
	border: 1px solid #29405a;
}
.signup {
	text-align: center;
	border-bottom: 2px #29405a dashed;
	margin: 0 auto;
	width: 90%;
}
form {
	margin: 10px auto;
	width: 70%;
	background:#feffff;
	padding: 20px;
	border-radius: 10px;
	border: 1px red solid;
}
.field {
	padding: 20px;
	margin: 0 auto;
	border: 3px red solid;
}

/*input styles*/

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
	background: #e8eeef;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	border: none;
	border-radius: 5px;
	padding: 12px 0;
}
button[type="submit"] {
	background: #52bab3;
	color: #FFF;
	padding: 10px 30px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.news-input {
	margin-bottom: 20px;
}
.news-input label {
	margin-left: 10px;
}
.contact-input {
	margin: 20px auto;
	border: 1px red solid;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}
.label {
	margin-bottom: 10px;
}
.textarea {
	display: flex;
	flex-direction: column;
}
.button {
	display: flex;
	flex-direction: column;
}

@media (min-width: 768px) {

	.contact-input {
		display: flex;
		flex-direction: row;
	}
	.label,
	.input {
		flex: 1;
	}
	.input {
		flex: 3;
	}
	.zip-input,
	.zip-label {
		flex: 0;
		flex-basis: 25%;
	}


}





